$header-background:#9496ad;
.header {
  border-bottom: 1px solid #e2e2e2;
  background-color: $header-background;

  &__brand {
    display: inline-block;
    padding: .3125rem 1rem .3125rem 0.2rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #ededf1;

    @include hover-focus-active {
      text-decoration: none;
      background-color: #9496ad;
      border-radius: 0.2rem;
      color: #696b81
    }
  }

  &__brand--text {
    color: rgb(240, 233, 233);
  }

  &__link {
    color: hsla(0, 0%, 100%, .7);
    display: block;
    padding: .5rem 0 .5rem 0.5rem;

    @include hover-focus-active {
      color: rgb(245, 244, 243);
      text-decoration: none;
    }

    @media (min-width: 992px) {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  &__item {
    @include hover-focus-active {
      background-color: #d2d3e2;
      // background-color: lighten($header-background, 10%);
      border-radius: 0.2rem;
    }
  }
}
