<% var data = {
    title: "Парапети на паркан,бетонні вироби декоративні, дашки, капелюхи на паркан, в м. Надвірна, Івано - Франківськ та області",
    }; %>
    <%= _.template(require('./../includes/header.html').default)(data) %>
    <div class="container" id="par-1">
        <div class="jumbotron">
            <img src="./img/article_plytka-1.jpg" alt="Зображення покупки плитки" />
            <p style="font-size:1rem; margin-top:1rem">
                В останні роки тротуарна плитка активно використовується у благоустрої не тільки площ і мікрорайонів, але і приватних будинків.
                Нею викладають теплиці, тераси, садові доріжки, двори, зони відпочинку. Завдяки великій різноманітності форм,
                розмірів і кольорів з допомогою плитки вдається реалізувати самі сміливі дизайнерські ідеї. Крім того, вона
                проста в монтажі і обслуговуванні, надійна, витримує перепади температур і підвищену вологість
                <br /> У Івано-Франківській області використовують тротуарну плитку з різних матеріалів. Найдоступніша за
                ціною - бетонна. Вона ж і сама витребувана. Дорожче коштує полімерпіщана, а на вершині цінового айсберга
                - клінкерна.</p>
            <img src="./img/article_plytka-2.jpg" alt="Бетонна плитка" />
            <p style="font-size:1rem; margin-top:1rem"> Бетонну тротуарну плитку в промислових обсягах у нас випускають великі заводи з відмінними один від одного виробничими
                потужностями і лініями. Є підприємства, на яких використовуються найсучасніші импортні технології і матеріали,
                весь процес автоматизований і комп'ютеризований. Тим не менш ступінь оснащеності виробництва серйозно не
                впливає на рівень цін. Так, наприклад, дуже популярний у населення сірий вібропресований тротуарний ♦Цегла»
                (60х200х 100 мм) коштує від 290 до 350 грн./кв. м. Більш складні форми, такі як «Котушка», «Хвиля» або ♦Старе
                місто», на ціну не впливають, чого не скажеш про кольори. Сіра плитка має натуральний колір, а для червоної,
                чорної або жовтої використовуються спеціальні пігменти. Але колір і форма бетонної плитки ніяк не впливають
                на її довговічність, що, в першу чергу, і повинно хвилювати споживача.
                <br /> - При виборі бетонної плитки насамперед треба звернути увагу на марку виробу, - радить керівник виробництва
                *Комунальник-спецбуд» Роман Яремків. - Незважаючи на зону, в якій буде покладена плитка, в наших погодніх
                умовах раджу брати її з маркою не нижче 400. Коли марка бетону висока, то не треба турбуватися за морозостійкість
                і водопоглинання. При правильному укладанні така плитка прослужить десятки років. фікати на вироби, а
                саму вигідну ціну пропонують на найнижчу марку бетону. - Ще один важливий показник, від якого залежить термін
                служби тротуарної плитки, - морозостійкість, - вважає інженер відділу продажів Василь Яремків. - В наших
                погодніх умовах морозостійкість повинна бути не нижче 150 Р.
                <br /> Це гарантія того, що плитка не почне лопатися у відлигу після холодної зими. Ідеальна ж бетонна плитка
                повинна мати морозостійкість Р 150 і марку М 400. Вона не буде дешевою. Однак у нас в області в основному
                виробляють плитку » з маркою 300. Якщо показник морозостійкості при цьому високий, то вона прослужить довго.
                
            </p>
            
        </div>
    </div>
    <%= _.template(require('./../includes/footer.html').default)(data) %>