<% var data = {
title: "Парапети на паркан,бетонні вироби декоративні, дашки, капелюхи на паркан, в м. Надвірна, Івано - Франківськ та області",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<!-- Image fixed-->
<div class='container'>
  <img alt='Photo' class='img-fluid' src='img/parkan8.jpg'>
</div>
<!--end Image fixed-->
<div class='container'>
  <div>
    <h1>Виробничо-складський комплекс<i>"Parkan"</i></h1>
    <p>Починаючи з проектування ми можемо запропонувати широкий асортимент дашків на стовпчики та парапетів
      на паркан</p>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <p>Фірма "Parkan" спеціалізується на виробництві бетонно - мармурових виробів більше 15 років. В процесі розвитку ми
      накопичили величезний досвід у виробництві продукції для будівництва. Ми виробляємо не тільки тротуарну плитку,
      бордюри, та стандартні парапети а й складні архітектурні вироби, що відповідають вимогам клієнта та ДСТУ.
    </p>
    <h3>Це Фантазія кульок..!!!</h3>
    <span>Форма, колір і матеріал-це Ваше сприйняття реальності</span>
    <img class='img-fluid' src='img/parap7.png'>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <h4 class='card-title'>Виготовлення парапетів<br>на паркан</h4>
      <img alt='img' class='img-fluid' src='img/par1.png'>
      <p>Парапети із простого та кольорового бетону, а також шліфована мармурова крихта </p>
    </div>
    <div class='col-md-4'>
      <h4 class='card-title'>Шляпки на стовпчики<br>паркана</h4>
      <img alt='img' class='img-fluid' src='img/par2.png'>
      <p>Накриття на стовпчики будь-яких розмірів і кольорів, а також із шліфованої мармурової крихти</p>
    </div>
    <div class='col-md-4'>
      <h4 class='card-title'>Різне<br>/бордюри,квітники.../</h4>
      <img alt='img' class='img-fluid' src='img/par3.png'>
      <p>Колір бордюрів, тротуарної плитки та інших виробів за Вашим бажанням</p>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
