<% var data = {
title: "Парапети на паркан,бетонні вироби декоративні, дашки, капелюхи на паркан, в м. Надвірна, Івано - Франківськ та області",
rights: "Copyright © 2017-2018-2019 Розробник сайту &lt; \"Y Studio\" &gt;",
author: "This site is developed and maintained by Vasyl Yaremkiv. All Rights Reserved.",
scriptName: "index"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<!-- Image fixed-->
<div class='container' id='bl'>
  <img src='img/parkan8.jpg' class='img-fluid m-x-auto' alt='Photo'>
</div>
<!--end Image fixed-->
<div class='container' id='tex'>
  <div class='jumbotron'>
    <h1 align='center'> Виробничо-складський комплекс<i>"Parkan"</i></h1>
    <p class='h3'>Починаючи з проектування ми можемо запропонувати широкий асортимент дашків на стовпчики та парапетів на паркан</p>
  </div>
</div>
<hr style='margin:45px 0 35px' />
<div class='container'>
  <div class='row'>
    <p style='color:#883116; font-size:1.3em;text-indent: 20px'>&nbsp;&nbsp;&nbsp; Фірма "Parkan" спеціалізується на виробництві бетонно - мармурових виробів більше 15 років. В процесі розвитку ми накопичили величезний досвід у виробництві продукції для будівництва. Ми виробляємо не тільки тротуарну плитку, бордюри, та стандартні парапети а й складні архітектурні вироби, що відповідають вимогам клієнта та ДСТУ.</p>
    <h3 align="center">
      <font color='#883116'>Це Фантазія кульок..!!!</font>
    </h3>
    <p align='center'>
      <font size='4.0em' color='#883116'>Форма, колір і матеріал-це Ваше сприйняття реальності</font>
    </p>
    <p align='center'><img src='img/parap7.png' class='img-fluid'>
    </p>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <h4 class='card-title'>Виготовлення парапетів <br>на паркан</h4>
      <img src='img/par1.png' style='margin: 5px 0 15px' alt='img' width='370'>
      <p>Парапети із простого та кольорового бетону, а також шліфована мармурова крихта </p>
    </div>
    <div class='col-md-4'>
      <h4 class='card-title'>Шляпки на стовпчики<br>паркана</h4>
      <img src='img/par2.png' style='margin: 5px 0 15px' alt='img' width='370'>
      <p>Накриття на стовпчики будь-яких розмірів і кольорів, а також із шліфованої мармурової крихти</p>
    </div>
    <div class='col-md-4'>
      <h4 class='card-title'>Різне<br>/бордюри,квітники.../</h4>
      <img src='img/par3.png' style='margin: 5px 0 15px' alt='img' width='370'>
      <p>Колір бордюрів, тротуарної плитки та інших виробів за Вашим бажанням</p>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
