<% var data = {
title: "Парапети на паркан,бетонні вироби декоративні, дашки, капелюхи на паркан, в м. Надвірна, Івано - Франківськ та області",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class='container shadow-lg p-3 mb-5 bg-secondary rounded' id='bl'>
  <img src='img/calc.jpg' class='img-fluid m-x-auto' alt='Photo'>
</div>
<div class="container">
  <h3 text-align: center><font color="#ff0000">Завжди можливий компроміс в цінах!</font></h3>
 <!---<h4 text-align: center>ЦІНИ Актуальні станом на  <script language="javascript" type="text/javascript">
    var d = new Date();
   /*
    var day=new Array("Неділя","Понеділок","Вівторок",
    "Середа","Четвер","Пятниця","Субота");
  */
    var month=new Array("січня","лютого","березня","квітня","травня","июня",
    "июля","августа","сентября","октября","ноября","декабря");
    
    document.write([d.getDate()]+ " " + month[d.getMonth()]
    + " " + d.getFullYear() + " р.");
 </script></h4>-->
</div>
<div class="container price-table table-bordered">
  <div class="price-parapety">
    <div class="price-parapety-header">
      <h2>Парапети</h2>
    </div>
   
    <div class="price-parapety-list  table-bordered"></div>
  </div>
  <hr>
  <div class="price-kapeluhy">
    <div class="price-kapeluhy-header">
       <h2>Накриття стовпчика</h2>
    </div>
    <div class="price-kapeluhy-list  table-bordered">dddd</div> <hr>
  </div>
  <div class="price-inshe">
    <div class="price-inshe-header">
       <h2>Інше</h2>
    </div>
    <div class="price-inshe-list  table-bordered"></div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
