<% var data = {
title: "Парапети на паркан,бетонні вироби декоративні, дашки, капелюхи на паркан, в м. Надвірна, Івано - Франківськ та області",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="container price-table">
  <div class="price-parapety">
    <div class="price-parapety-header">Заголовок</div>
    <div class="price-parapety-list"></div>
  </div>
  <div class="price-kapeluhy">
    <div class="price-kapeluhy-header">Заголовок</div>
    <div class="price-kapeluhy-list"></div>
  </div>
  <div class="price-inshe">
    <div class="price-inshe-header">Заголовок</div>
    <div class="price-inshe-list"></div>
  </div>
</div>

<!-- Image fixed-->
<!--<div class="container-fluid" id="bl-1">
  <img src="img/calc.jpg" class="img-fluid" alt="Photo">
</div>-->
<div class="container-fluid">
  <h3 align='center'><font color="#ff0000">Завжди можливий компроміс в цінах!</font></h3>
  <h4 align='center'>ЦІНИ Актуальні станом на <script language="javascript" type="text/javascript">
    var d = new Date();
   /*
    var day=new Array("Неділя","Понеділок","Вівторок",
    "Середа","Четвер","Пятниця","Субота");
  */
    var month=new Array("січня","лютого","березня","квітня","травня","июня",
    "июля","августа","сентября","октября","ноября","декабря");
    
    document.write([d.getDate()]+ " " + month[d.getMonth()]
    + " " + d.getFullYear() + " р.");
 </script></h4>
</div>
<div class="container">
  <!-- table-->
  <div class="table-responsive table table-hover  table-striped table-bordered" id="main-table">
    <h2 align='center'>Парапети Двосхилі та Плоскі</h2>
    <table class="table table-striped">
      <!--Table head-->
      <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Вид</th>
        <th>Ширина</th>
        <th>Ціна (1м)</th>
      </tr>
      </thead>
      <!--/Table head-->
      <!--Table body-->
      <tbody>
      <!--First row-->
      <tr>
        <th>1</th>
        <th scope="row">
          <img alt="parapet" class="img-thumbnail" src="img/rys11.png">
          <h5><strong>Парапет <br>матеріал :крихта мармурова,<br> шліфована</strong></h5>
        </th>

        <td id="aaa">
          <table>
            <tr>
              <td>45см</td>
            </tr>
            <tr>
              <td>40см</td>
            </tr>
            <tr>
              <td>35см</td>
            </tr>
            <tr>
              <td>33см</td>
            </tr>
            <tr>
              <td>30см</td>
            </tr>
            <tr>
              <td>25см</td>
            </tr>
            <tr>
              <td>20см</td>
            </tr>
          </table>
        </td>
        <td id="bbb">
          <table>
            <tr>
              <td>380грн</td>
            </tr>
            <tr>
              <td>350грн</td>
            </tr>
            <tr>
              <td>330грн</td>
            </tr>
            <tr>
              <td>320грн</td>
            </tr>
            <tr>
              <td>300грн</td>
            </tr>
            <tr>
              <td>280грн</td>
            </tr>
            <tr>
              <td>250грн</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <th>2</th>
        <th scope="row">
          <img alt="" class="img-thumbnail" src="img/rys16.png">
          <h5><strong>Парапет:<br> бетон-моноліт<br>декоративний бетон</strong></h5>
        </th>

        <td id="aaa">
          <table>
            <tr>
              <td>45см</td>
            </tr>
            <tr>
              <td>40см</td>
            </tr>
            <tr>
              <td>35см</td>
            </tr>
            <tr>
              <td>33см</td>
            </tr>

            <tr>
              <td>30см</td>
            </tr>
            <tr>
              <td>25см</td>
            </tr>
            <tr>
              <td>20см</td>
            </tr>
          </table>
        </td>
        <td id="bbb">
          <table>
            <tr>
              <td>290грн</td>
            </tr>
            <tr>
              <td>270грн</td>
            </tr>
            <tr>
              <td>250грн</td>
            </tr>
            <tr>
              <td>220грн</td>
            </tr>
            <tr>
              <td>200грн</td>
            </tr>
            <tr>
              <td>180грн</td>
            </tr>
            <tr>
              <td>150грн</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <th>3</th>
        <th scope="row">
          <img alt="" class="img-thumbnail" src="img/rys2.jpg">
          <h5><strong>матеріал :крихта мармурова,<br><font color="#fff" size="+2">білий цемент</font><br>
            шліфована</strong></h5>
        </th>


        <td id="aaa">
          <table>
            <tr>
              <td>45см</td>
            </tr>
            <tr>
              <td>40см</td>
            </tr>
            <tr>
              <td>35см</td>
            </tr>
            <tr>
              <td>33см</td>
            </tr>

            <tr>
              <td>30см</td>
            </tr>
            <tr>
              <td>25см</td>
            </tr>
            <tr>
              <td>20см</td>
            </tr>
          </table>
        </td>
        <td id="bbb">
          <table>
            <tr>
              <td>450грн</td>
            </tr>
            <tr>
              <td>420грн</td>
            </tr>
            <tr>
              <td>400грн</td>
            </tr>
            <tr>
              <td>380грн</td>
            </tr>
            <tr>
              <td>360грн</td>
            </tr>
            <tr>
              <td>340грн</td>
            </tr>
            <tr>
              <td>320грн</td>
            </tr>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive table table-hover table table-bordered" id="main-table-1">
    <h2 align='center'>Накриття стовпчика </h2>
    <table class="table table-striped">
      <!--Table head-->
      <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Вид</th>
        <th>Ширина Х Довжина / Діаметр</th>
        <th>Ціна (м / кв.м)</th>
      </tr>
      </thead>
      <tr>
        <th>1</th>
        <th scope="row">
          <img alt="img" class="img-fluid" src="img/big-6.jpg" width="400">
          <h5><strong>Шляпка стовпчика паркана -ПІШАК-</strong></h5>
          <p class="text-teal">Матеріал мармурова крихта</p>
        </th>
        <td>45х45</td>
        <td>490грн</td>
      </tr>
      <tr>
        <th>2</th>
        <th scope="row">
          <img alt="" class="img-fluid " src="img/big-7.jpg">
          <h5><strong>Шляпка стовпчика паркана <font color="#fff" size="+2">-ПІШАК-білий</font><br></strong></h5>
          <p class="text-teal">Матеріал мармурова крихта<br><font color="#fff" size="+2">білий цемент</font></p>
        </th>
        <td>45х45</td>
        <td>590грн</td>
      </tr>

      <tr>
        <th>3</th>
        <th scope="row">
          <img alt="" class="img-fluid" src="img/photo12.jpg" width="400">
          <h5><strong>Шляпка стовпчика паркана -Піраміда із кулькою-</strong></h5>
          <p>Матеріал мармурова крихта</p>
        </th>
        <td>
          40х40
          <br>
          45х45
          <br>
          50х50
        </td>
        <td>200грн
          <br>250грн
          <br>300грн
        </td>
      </tr>
      <tr>
        <th>4</th>
        <th scope="row">
          <img alt="" class="img-fluid" src="img/kap1.jpg" width="400">
          <h5><strong>Шляпка стовпчика паркана -Уступами-<br>з кулькою і без</strong></h5>
          <p class="text-teal">Матеріал мармурова крихта</p>
        </th>
        <td>45х45
          <br>45х45+кулька
          <br>40х40
          <br>40х40+кулька
        </td>
        <td>300грн
          <br>350грн
          <br>250грн
          <br>300грн
        </td>
      </tr>
      <tr>
        <th>5</th>
        <th scope="row">
          <img alt="" class="img-fluid" src="img/small-5.png" width="400">
          <h5><strong>Шляпка стовпчика паркана -МЕДУЗА-<br>з
            кулькою і без</strong></h5>
          <p class="teal-text">Матеріал мармурова крихта</p>
        </th>
        <td>45х45cm
          <br>45х45+кулька
        </td>
        <td>250грн
          <br>300грн
        </td>
      </tr>

      <tr>
        <th>6</th>
        <th scope="row">
          <img alt="" class="img-fluid" src="img/ball.jpg" width="400">
          <h5><strong>Кульки на накриття стовпчика</strong></h5>
          <p class="text-teal">Матеріал мармурова крихта </p>
        </th>
        <td>12см
          <br>15см
          <br>20см
        </td>
        <td>50грн
          <br>80грн
          <br>100грн
        </td>
      </tr>
      <tr>
        <th>7</th>
        <th scope="row">
          <img alt="img" class="img-fluid" src="img/kap.jpg" width="400">
          <h5><strong>Шляпка стовпчика паркана -Піраміда-<br>з
            кулькою і без</strong></h5>
          <p class="text-teal">Матеріал мармурова крихта </p>
        </th>
        <td>40x40cm
          <br>40x40cm+кулька
          <br>45x45cm
          <br>45x45cm+кулька
          <br>50x50cm
          <br>50x50cm+кулька
        </td>
        <td>280грн
          <br>330грн
          <br>350грн
          <br>400грн
          <br>420грн
          <br>490грн
        </td>
      </tr>
      <tr>
        <th>8</th>
        <th scope="row">
          <img alt="img" class="img-fluid" src="img/kap18.jpg" width="400">
          <h5><strong>Шляпка стовпчика паркана -Піраміда-із
            кубіком </strong></h5>
          <p class="text-teal">Матеріал мармурова крихта </p>
        </th>
        <td>40x40cm
          <br>45x45cm
          <br>50x50cm
        </td>
        <td>280грн
          <br>300грн
          <br>350грн
        </td>
      </tr>
      <tr>
        <th>9</th>
        <th scope="row">
          <img alt="img" class="img-fluid" src="img/cap19.jpg" width="400">
          <h5><strong>Шляпка стовпчика ~Чешуя~
          </strong></h5>
          <p class="text-teal">Матеріал мармурова крихта </p>
        </th>
        <td>
          45x45cm
        </td>
        <td>300грн
        </td>
      </tr>
      <tr>
        <th>10</th>
        <th scope="row">
          <img alt="img" class="img-fluid" src="img/cheshua.jpg" width="400">
          <h5><strong>Шляпка стовпчика ~Чешуя~
          </strong></h5>
          <p class="text-teal">Матеріал:Бетон декоративний<br>колір довільний </p>
        </th>
        <td>
          45x45cm
        </td>
        <td>220грн
        </td>
      </tr>
      <tr>
        <th>11</th>
        <th scope="row">
          <img alt="img" class="img-fluid" src="img/kap15.jpg" width="400">
          <h5><strong>Шляпка стовпчика паркана -Піраміда-<br>з
            кулькою </strong></h5>
          <p class="text-teal">Матеріал мармурова крихта </p>
        </th>
        <td>40x40cm
          <br>45x45cm
          <br>50x50cm
        </td>
        <td>280грн
          <br>300грн
          <br>350грн
        </td>
      </tr>
      <tr>
        <th>12</th>
        <th scope="row">
          <img alt="img" class="img-fluid" src="img/piramida.jpg" width="400">
          <h5><strong>Шляпка стовпчика паркана -Піраміда- </strong></h5>
          <p class="text-teal">Матеріал мармурова крихта </p>
        </th>
        <td>33x33cm
        </td>
        <td>200гр
        </td>
      </tr>
      <tr>
        <th>13</th>
        <th scope="row">
          <img alt="" class="img-fluid" src="img/schody.png" width="400">
          <h5><strong>Сходинки накладні<br>армовані<br>товщ.3-5см</strong></h5>
          <p class="text-teal">Матеріал мармурова крихта</p>
        </th>
        <td>шир.30см-35см</td>
        <td>300-350грн</td>
      </tr>
      <tr>
        <th>14</th>
        <th scope="row">
          <img alt="" class="img-fluid" src="img/pav.jpg" width="400">
          <h5><strong>Плитка тротуарна</strong></h5>
          <p class="teal-text">Матеріал: Бетон декоративний</p>
        </th>

        <td>30х30
          <br>25х25
        </td>
        <td>220грн
          <br>190грн
        </td>
      </tr>
      <tr>
        <th>15</th>
        <th scope="row">
          <img alt="" class="img-fluid" src="img/plytka.jpg" width="400">
          <h5><strong>Плитка шліфована </strong></h5>
          <p class="text-teal">Матеріал мармурова крихта</p>
        </th>

        <td>30х30х3
          <br>25х25х2.5
        </td>
        <td>490грн
          <br>440грн
        </td>
      </tr>
      <tr>
        <th>16</th>
        <th scope="row">
          <img alt="" class="img-fluid" src="img/bordur3.jpg" width="400">
          <h5><strong>Бордюр</strong></h5>
          <p class="text-teal">Сірий
            <br>Червоний </p>
        </th>

        <td>50х20х4см
          <br>50х20х4см
        </td>
        <td>35грн/шт
          <br>40грн/шт
        </td>
      </tr>

      <!--/Fourth row-->
      </tbody>
      <!--/Table body-->
    </table>
  </div>
</div>
<!--<div class="container-fluid">
  <img src="img/par5.png" alt="img" class="img-fluid  m-x-auto d-block">
</div>-->

<%= _.template(require('./../includes/footer.html').default)(data) %>
