<% var data = {
title: "Парапети на паркан,бетонні вироби декоративні, дашки, капелюхи на паркан, в м. Надвірна, Івано - Франківськ та області",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<!--img header-->
<div class="container-fluid" id="par">

  <img alt="Photo" class="img-fluid  m-x-auto" src="img/Tall.png">
</div>
<!--end img header-->
<!--content-->
<div class="container-fluid" id="par-1">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <h3>Парапет шліфований-<br>мармурова крихта</h3>
      <div class="thumbnail">
        <img alt="Parapet" src="img/rys11.png">
        <div class="caption">
          <p>Парапет із крихти мармурової,будь-якого розміру та форми на мурований паркан</p>
          <p><a class="btn btn-outline-primary waves-effect" href="#" role="button">Прайс</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Парапет монолітний-<br>простий бетон</h3>
      <div class="thumbnail">
        <img alt="парапет" src="img/rys16.png">
        <div class="caption">
          <p>Двохсхилий парапет сірого або червоного або коричневого...кольору.</p>
          <p><a class="btn btn-outline-primary " href="./price.html" role="button">Прайс</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Парапет плоский-<br>простий бетон </h3>
      <div class="thumbnail">
        <img alt="img" src="img/kap2.png">
        <div class="caption">
          <p>Плоский парапет сірого або червоного або коричневого...кольору.</p>
          <p><a class="btn btn-outline-primary " href="./price.html" role="button">Прайс</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Парапет із крихти червоний</h3>
      <div class="thumbnail">
        <img alt="Views" src="img/p4.png">
        <div class="caption">
          <p>Парапет із крихти мармурової,будь-якого розміру та форми на мурований паркан</p>
          <p><a class="btn btn-outline-primary" href="./price.html" role="button">Прайс</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="par-2">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <h3>Шляпка на стовпчик із мармурової крихти</h3>
      <div class="thumbnail">
        <img alt="Parapet" src="img/kap1.png">
        <div class="caption">
          <p>Шляпка із крихти будь-якого розміру на мурований стовпчик</p>
          <p><a class="btn btn-outline-primary waves-effect" href="./price.html" role="button">Прайс</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Шляпка на стовпчик із червоним відтінком</h3>
      <div class="thumbnail">
        <img alt="img" src="img/p2.png">
        <div class="caption">
          <p>Накриття на стовпчик розм.45х45 </p>
          <p><a class="btn btn-outline-primary waves-effect" href="./price.html" role="button">Прайс</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Шляпка на стовпчик із мармурової крихти</h3>
      <div class="thumbnail">
        <img alt="foto" src="img/kap11.png">
        <div class="caption">
          <p>Шляпка на стовпчик із кулькою.</p>
          <p><a class="btn btn-outline-primary waves-effect" href="./price.html" role="button">Прайс</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Шляпка на стовпчик із мармурової крихти</h3>
      <div class="thumbnail">
        <img alt="Views near Rob Roy Glacier" src="img/p6.png">
        <div class="caption">
          <p>Кришка стовпчика "уступами" любих розмірів.</p>
          <p><a class="btn btn-outline-primary waves-effect" href="./price.html" role="button">Прайс</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="hidden-md-up">

<%= _.template(require('./../includes/footer.html').default)(data) %>
