$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;

@import "custom";
@import "~bootstrap/scss/bootstrap";

@import "base/base";
@import "base/helpers";
@import "layout/header";
@import "layout/footer";
@import "pages/price";



@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}


article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

.cs-sidebar__row {
  margin-bottom: 30px;
}
.cs-page__wrapper {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  zoom: 1;
}
.cs-page__row {
  margin-bottom: 50px;
}
aside{
  display: block;
}
.cs-sidebar {
  float: left;
  width: 19%;
  margin-right: 3%;
  color: 
  #333;
}
.cs-page__content {
  display: inline-block;
  width: 78%;
}
.card {
  box-shadow: 0 4px 8px 0 
rgba(59, 47, 47, 0.2);
padding: 16px;
text-align: center;
background-color:
  #808c93;
}
p {
  font-size: 1em;
}
#part{
  position: sticky;
  top: 3.5rem;
  margin: 0 auto;
  padding: 10px;
  background-color: #a7acb0;
  z-index: 5;
}

h1,h4 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(172, 133, 83);
}

p .thick{
  text-indent: 50px;
  text-align: justify;
  font-weight: bold;
}
@media screen and (min-width:200px) and (max-width:1024px) {
  h1,h4 {
    text-align: center;
    font-size:18px;
    font-weight:normal;
    padding:0px 0 0px;
    line-height:100%;
    font-style:italic;
    color: rgb(67, 46, 105) !important;
  }
}

.navbar-nav{
  padding-left:3.5rem;
}

#map {
  height: 400px;
  width: 100%;
  z-index: 9999;
}
#bl-3{
  margin-top: 3.6rem;
 
}
#bl a{
  color: rgb(216, 208, 208);
}
#bl{
  margin-top: 50px;
  padding: 10px;
  background-color: #a7acb0;
  z-index: -99;
}
#par,#part {
  position: relative;
  top: 0.6rem;
  max-width: 100%;
  margin: 50px 0 20px 0;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}
@media (max-width: 575.98px) { 
 
 }